:root {

}
* {
    box-sizing: border-box;
}
body {
    background-color: #666;
    background-image: linear-gradient(to bottom right, #666, silver);
    height: 100vh;
}
.container {
    border: 2px solid black;
    width: 600px;
    margin: auto;
    height: 800px;
    margin-top: 17vh;
    background-color: black;
}
.screen {
    border: 2px solid black;
    display: flex;
    height: 190px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    font-family: 'Play', sans-serif;
    width: 96%;
    padding: 20px;
    text-align: end;
    background-color: black;
    color: white;
    outline: none;
}
input[type=number]::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.middle-section {
    display: flex;
    background-color: rgb(255, 153, 0);
}
.clear , .delete {
    display: flex;
    border: 2px solid black;
    width: 100%;
    height: 100px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 30px;
}
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
}
.buttons div {
    display: flex;
    border: 1px solid grey;
    width: 25%;
    height: 117px;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
}
